<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Resources</title>
    <link href="/static/tailwind.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-4">
        <div class="bg-white shadow-md rounded-lg p-6 mt-6 max-w-xl mx-auto">
            <h1 class="text-2xl font-bold mb-4 text-center">Manage resources</h1>
            <form action="/resources" method="POST">
                <!-- Resource ID (hidden for new entries) -->
                <input type="hidden" name="resource_id" id="resource_id">

                <!-- Resource Name -->
                <div class="mb-4">
                    <label for="resource_name" class="block text-sm font-medium text-gray-700 font-bold">Resource Name</label>
                    <input type="text" name="resource_name" id="resource_name" maxlength="100" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>

                <!-- Resource Description -->
                <div class="mb-4">
                    <label for="resource_description" class="block text-sm font-medium text-gray-700 font-bold">Resource Description</label>
                    <textarea name="resource_description" id="resource_description" rows="4" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
                </div>

                <!-- Buttons -->
                <div class="flex justify-between space-x-4">
                    <button type="submit" class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-1/2">Save Resource</button>
                    <a href="/" class="inline-block bg-gray-500 text-white text-center py-2 px-4 rounded hover:bg-gray-600 w-1/2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <div id="footer-placeholder"></div>
    <script src="/static/footer.js"></script>
    <script src="/static/resourceForm.js"></script>
</body>
</html>